{% load base_tags %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    
    {% link request 'index' 'Dashboard' 'fw fa-tachometer-alt' %}

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!------------------- Nav Items----------------->
    
        {% link request 'index' 'List Product' 'bars' %}

    
        {% link request 'create' 'Add product' 'edit' %}
    

        {% link request 'order' 'Orders' 'bars' %}

    {% if user.is_admin %}
  
        {% link request 'user-list' 'Access Users' 'bars' %}

    {% endif %}


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>