<div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="ps-icon-shopping-cart"></i></a>
    <div class="ps-cart__listing">
      <div class="ps-cart__content">
        <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
          <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="images/cart-preview/1.jpg" alt=""></div>
          <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">Amazin’ Glazin’</a>
            <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
          </div>
        </div>
      </div>
      <div class="ps-cart__total">
        <p>Number of items:<span>{{cart.count}}</span></p>
        <p>Item Total:<span>£528.00</span></p>
      </div>
      <div class="ps-cart__footer"><a class="ps-btn" href="cart.html">Check out<i class="ps-icon-arrow-left"></i></a></div>
    </div>
  </div>