{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Delete Page {% endblock %}

{% block content %}

<div class="col-md-6 text-center mx-autho" >
    <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title mb-0 float-left">Delete Product</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post">
            {% csrf_token %}
            <p class="py-2">Are you sure delete {{object}} ?</p>
            
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-danger"> Delete</button>
          </div>
        </form>
      </div>
    </div>

{% endblock %}